body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #928C8C;
}

body img {
    width: 100%; /* Make the image take up the full width of its container */
    max-width: 1200px; /* Ensure the image does not exceed 1200px */
    margin: 20px;
}

@media (max-width: 1400px) {
    body img {
        width: 100%; /* Ensure the image takes up full width on smaller screens */
        max-width: 100%; /* Make sure it doesn't exceed the screen width */
        margin: 200px;
    }
}

@media (max-width: 1200px) {
    body img {
        width: 100%; /* Ensure the image takes up full width on smaller screens */
        max-width: 100%; /* Make sure it doesn't exceed the screen width */
        margin: 200px;
    }
}

@media (max-width: 1000px) {
    body img {
        width: 100%; /* Ensure the image takes up full width on smaller screens */
        max-width: 100%; /* Make sure it doesn't exceed the screen width */
        margin: 300px;
    }
}

@media (max-width: 800px) {
    body img {
        width: 100%; /* Ensure the image takes up full width on smaller screens */
        max-width: 100%; /* Make sure it doesn't exceed the screen width */
        margin-top: 400px;

    }
}
