@import "../../styles/variables/colors.module";


.custom-collapse {
  @media (max-width: 991px) {
    // lg is the breakpoint for "expand=lg"
    // padding: 4rem 0 1rem 0;
    border-radius: 0.5rem;

    .nav-link {
      text-align: center;
      color: $black-color;
      // padding: 0.5rem 0;
      margin: 0;

      &:hover {
        color: $primary-color;
      }
    }

    .custom-language-btn {
      width: 100%;
    }
  }
}

.custom-toggle-icon {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0 !important;
  box-shadow: none !important;
  border: none !important;

  .pencil-svg {
    width: 100%;
    height: 100%;
  }

  &.active{
    .pencil {
      transform-origin: center;
      animation: rotatePencil 0.5s ease-in-out forwards;
    }
    .ruler {
      transform-origin: center;
      animation: rotateRuler 0.5s ease-in-out forwards;
    }
  }
  /* Keyframes for rotating pencil and ruler */
  @keyframes rotatePencil {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-45deg);
    }
  }

  @keyframes rotateRuler {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(45deg);
    }
  }

  &.closed {
    .pencil {
      transform-origin: center;
      animation: rotatePencilClose 0.5s ease-in-out forwards;
    }
    .ruler {
      transform-origin: center;
      animation: rotateRulerClose 0.5s ease-in-out forwards;
    }
  }
  /* Keyframes for rotating pencil and ruler */ 
  @keyframes rotatePencilClose {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes rotateRulerClose {
    0% {
      transform: rotate(45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.custom-language-btn{


    @media (max-width: 991px) { 
      margin: 1rem;
    }

  
}

.custom-nav {
  @media (max-width: 991px) { 
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
  }
}
