$primary-color: #ffcd07;
$text-color: #171717;
$text-white-color: #FFFCF8;
$button-lite-blue-color: #9ECDFB;
$blue-color: #89A5C1;
$orange-text-color: #FF6824;
$black-color: #171717;
$white-color: #FFFCF8;
$gold-color: #F3DA8C;
$button-hover-dark-color: #5F7387;
