@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Itim&display=swap');

// FONT SIZE
$titleFontSize: clamp(4rem, 7vw, 12rem);
$usualFontSize: clamp(1rem, 2.5vw, 1.5rem);
$subtitleFontSize: clamp(1.2rem, 7vw, 1rem);

$decorativeFont:  "Bebas Neue", sans-serif;
$secondaryDecorativeFont: "Itim", cursive;



