@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

// FONT SIZE
$titleFontSize: clamp(5rem, 10vw, 10.625rem);
$usualFontSize: clamp(1rem, 2.5vw, 1.5rem);
$subtitleFontSize: clamp(1.2rem, 7vw, 1rem);
$cardSmallFontSizeBigScreen: clamp(0.125rem, 1vw, 0.875rem);
$cardSmallFontSizeSmallScreen: clamp(0.75rem, 1vw, 0.875rem);
$cardTitleFontSizeBigScreen: clamp(1.5rem, 0.5vw, 2rem);
$cardTitleFontSizeSmallScreen: clamp(1.5rem, 2.5vw, 2rem);


$decorativeFont:  "Bebas Neue", sans-serif;
$secondaryDecorativeFont: "Itim", cursive;
$mainFont: "Lexend", sans-serif;



