@import "../../../../styles/variables/colors.module";
@import "../../../../styles/variables/fontFamily.module";



.lastProjects {
  position: relative;
  padding-top: 8.75rem;
  background-color: $white-color;
  scroll-snap-align: start;
  height: 100vh;
  text-align: center;
  z-index: 10;

  @media screen and (max-width: 768px) {
    padding-top: 5rem;
  }

  .iconWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;

    .titleWrapper {
      width: 50%;
      padding-right: 2rem;

      .title {
        font-size: 12rem;
        font-family: $decorativeFont;
        text-align: end;
        width: fit-content;
        line-height: 110%;
        transform: translateY(2.3rem);

      }
    }

    .separator {
      all: unset;
      display: block;
      width: 1px;
      height: 26rem;
      background-color: $black-color;
    }

    .subtitleWrapper {
      width: 50%;
      padding-left: 2rem;
      display: flex;
      align-items: flex-end;

      .subtitle {
        text-align: start;
        font-family: $secondaryFont;
        font-size: 2rem;
        font-weight: 100;
        font-style: italic;
        line-height: 1.4;
        color: $black-color;
        margin: 0;
        transform: translateY(-0.5rem);

      }
    }
  }

}



