.homePage {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;

    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}